# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# node-waf configuration
.lock-wscript

# Compiled binary addons
build/Release

# Dependencies
node_modules/

# Caches
.npm
.eslintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.vite

# TypeScript
*.tsbuildinfo

# Build output
/dist

# Env files
.env
.env.*.local

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test artifacts
jest-html-reporters-*
